:root{
    --color-primary:#2A0944;
}
body{
    font-family: sans-serif , 'work Sans';
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #777;
    background: var(--color-black);
}
body{
    font-family: 'work Sans' , 'sans-serif';
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #777;
    background: #000;
}
